
* {

    margin: 0;
    padding: 0;

}
html {
    max-width: 50%;
}
body {
    font-family: DM Sans, sans-serif ;

}
#bloc_page {
    padding-right: 10%;
    padding-left: 10%;
    display: flex;
    flex-direction: column;
}
/* HEADER */

header {

    display: flex;
    align-content: center;
    flex-direction: column;
    padding-top: 42px;
    padding-bottom: 17px;
    margin-left: 50%;
    margin-right: 50%;
    width: 100%;

}

header svg {

    align-self: center;

}

header h1 {

    color: #D04F4F;
    font-weight: 700;
    font-size: 36px;
    align-self: center;

}

/* Search Board */

#search_container {

    display: flex;
    width: 100vw;
    align-content: center;
}

#search_input {

    width: 90vw;
    height: 69px;
    background-color: #E7E7E7;
    border: none;
    border-radius: 5px;
    padding: 23px;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Filtre de recherche */

#filter {

    display: flex;
    flex-direction: row;
    align-self: flex-start;
    gap: 20px;
    padding-bottom: 20px;
    width: 100%;
    margin-left: 20vw;
}
.filter_appearance {

    display: flex;
    justify-content: space-evenly;
    border-radius: 5px;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 13px;
    width: 170px;
    height: 69px;
    text-align: center;
    border: none;

}
#ingredients {

    display: flex;
    flex-direction: row;
    background-color: #3282F7;
    
}

#appareils {

    display: flex;
    flex-direction: row;
    background-color: #68D9A4;

}

#ustensils {

    display: flex;
    flex-direction: row;
    background-color: #ED6454;

}

#ingredients::placeholder, #appareils::placeholder,
#ustensils::placeholder {
    color: #FFFFFF;
    text-align: center;
}

/* Gallerie de recettes */

#recipe_gallery {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px;
    width: 100vw;

}

.recipe_card {

    display: flex;
    flex-direction: column;
    width: calc((90vw / 3 ) - (50px * 2));
    height: 364px;
    border-radius: 5px;

}

.recipe_container_image {

    background-color: #C7BEBE;
    height: 50%;

}

.recipe_container_infos {

    padding: 20px;
    background-color: #E7E7E7;

}

.recipe_title_time {

    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.recipe_title_time h2 {

    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    font-family: Lato, sans-serif;

}

.recipe_title_time p {
    font-size: 18px;
    font-weight: 700;

}

.recipe_ingredient_instruction {

    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    padding-top: 20px;

}
.recipe_ingredients_container {

    width: 50%;
    font-size: 12px;
    font-weight: 700;
}
.recipe_instruction_container {
    width: 50%;
    font-size: 12px;
    text-align: justify;
}